.scroller__navigation {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.scroller__navigation ul {
    list-style: none;
}

.scroller__navigation ul li {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(113, 113, 226, 0.6);
    cursor: pointer;
}

.scroller__navigation ul li.active {
    background-color: rgb(27, 37, 80);
}

.scroller__navigation ul li + li {
margin-top: 20px;
}